body {
  font-size: 14px;
}

nav {
  background color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section {
  margin: 0 auto;
  width: 60%;
}

/* headings */
h1 {
  font-family sans-serif;
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
  text-align center
}

h3 {
  font-size: 1.3em;
}

/* Div styling */
.element {
  background-color: green;
  height: 100px;
  margin 10px 0;
  width: 100%;
}

/* Colored Div */
.element1 {
  background-color: blue;
}

.element2 {
  background-color: red;
}

.element3 {
  background-color: yellow;
}
